body {
    margin: 0;
    padding: 0;
}

.smoke:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
    mix-blend-mode: color;
    pointer-events: none;
}

video {
    object-fit: cover;
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 5em;
    font-family: 'Gochi Hand', cursive;
}

h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards, fontBold 2s linear forwards, texttransform 3s linear forwards, animenone 6s linear forwards;
}


@keyframes fontBold {
    0% {
        font-weight: normal;
    }

    25% {
        font-weight: 500;
    }

    50% {
        font-weight: 600;
    }

    75% {
        font-weight: 700;
    }

    100% {
        font-weight: 900;
    }
}

@keyframes texttransform{
    
    0% {
   font-family: 'Shadows Into Light Two', cursive;
    }
    100%{
font-family: 'Lacquer', sans-serif;
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
@keyframes animenone{
    0%{
        color: #ddd;
    }
    100%{
        color: transparent;
    }
}

h1 span:nth-child(1) {
    animation-delay: 1s;
 
    
}

h1 span:nth-child(2) {
    animation-delay: 2s;
    
}

h1 span:nth-child(3) {
    animation-delay: 2.5s;
 
}

h1 span:nth-child(4) {
    animation-delay: 3s;
    
}

h1 span:nth-child(5) {
    animation-delay: 3.5s;
}

h1 span:nth-child(6) {
    animation-delay: 3.75s;
}

h1 span:nth-child(7) {
    animation-delay: 4s;
}

h1 span:nth-child(8) {
    animation-delay: 4.5s;
}
/*=======rotation-box=======*/
.rotation-box {
    position: relative;
    height: 150vh;
    background: url('../img/icon.jpg') no-repeat;
    background-size: 100% 100%;
    
}
.box{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(75% - 100px);
    transform: perspective(1000px) rotateY(-45deg);
    width: 200px;
    height: 300px;
    transform-style: preserve-3d; 
}
.box::before{
    content: '';
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    filter: blur(40px);
    opacity: 1.8;
    transform: rotateX(90deg);
}

.box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotationEffect 5s linear infinite; 
}
.box div span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #f1f1f1, #bbb, #f1f1f1);
    border-radius: 20px;
}
.box div span:nth-child(1){
    transform: rotateX(0deg);
}
.box div span:nth-child(2){
    transform: rotateX(45deg);
}
.box div span:nth-child(3){
    transform: rotateX(-45deg);
}
.box div span:nth-child(4){
    transform: rotateX(90deg);
}

@keyframes rotationEffect{
    0%{
        transform: perspective(1000px) rotateX(0deg);
    }
    100%{
        transform: perspective(1000px) rotateX(359deg);
    }
}

/*======card-hover-rotate-360deg======*/
.section{
    position: relative;
    background: black;
    width: 100%;
    height: 150vh;
}
.section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    border: 1px solid black;
    perspective: 600px;
    transition: 0.5s;
}
.card:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(315deg, #ff0057, #5d02ff);
    transform: skew(2deg, 2deg);
    z-index: -3;

}
.card .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
    overflow: hidden;
}
.card:hover .front{
    transform: rotateX(-180deg);
    /*transform: rotateY(-180deg);*/
}
.card .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    /*overflow: hidden;*/
}
.card .back::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.card:hover .back{
    transform: rotateX(0deg);
    /*transform: rotateY(-180deg);*/
}
.card .back .details{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-50%);
}
.card .back .details h2{
    margin: 0;
    padding: 0;
    color: #e91e63;
    font-size: 30px;
}
.card .back .details h2 span{
    color: #a7a7a7;
}
.social-icons{
    padding: 10px 0;
}
.social-icons a{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #262626;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}
.social-icons a .fa{
    line-height: 40px;
}
.social-icons a:hover{
    background: #e91e63;
}
/*
@keyframes appearblock{
    0%{
display: none;
    }
    100%{
display: inherit;
    }
}*/

/*====mobile======*/
.mobile{
    position: relative;
    background: url('../img/maxresdefault.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
}
.shadow{
position: absolute;
top: calc(50% - 130px);
left: calc(50% - 210px);
width: 394px;
height: 235px;
background: linear-gradient(0deg, #000, #262626);
border-radius: 25px;
}
.shadow .fish1{
    position: absolute;
    top: 0;
    left: -100%;
    animation: fishSwim1 30s linear infinite;
}
.shadow .fish2{
    position: absolute;
    top: -50%;
    left: -100%;
    animation: fishSwim2 30s linear infinite;
}
/*
.shadow .fish3{
    position: absolute;
    top: 0;
    left: -100%;
    animation: fishSwim3 60s linear infinite;
}
*/
.shadow img{
position: absolute;
top: calc(50% - 122px);
left: calc(50% - 200px);
width: 400px;
height: 250px;
z-index: 1;
}

.shadow:before,
.shadow:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: 100%;
    height: 100%;
    animation: mobileshadow 20s linear infinite;
   
}
.shadow:after{
    filter: blur(20px);
}
@keyframes fishSwim1 {
    0%{
        transform: translateX(0%);
        opacity: 0.2;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        transform: translateX(100%);
        opacity: 1;
    }
}
@keyframes fishSwim2 {
    0%{
        transform: translateX(200%);
        
    }
    25%{
        
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateX(0%);
        opacity: 0.5;
    }
}
/*
@keyframes fishSwim3 {
    0%{
        transform: translateX(300%);
        opacity: 0.2;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
*/
@keyframes mobileshadow{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}
/*====mobile jumping screen====*/
.jumping-screen{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.box-iphone{
    position: relative;
    width: 700px;
    height: 461px;
}

.box-iphone .screen{
    position: absolute;
    top: -8px;
    left: -32px;
    transition: 0.5s;

}

.box-iphone:hover .screen5{
    transform: translateY(-160px);
    opacity: 1;
}
.box-iphone:hover .screen4{
    transform: translateY(-120px);
    opacity: .8;
}
.box-iphone:hover .screen3{
    transform: translateY(-80px);
    opacity: .6;
}
.box-iphone:hover .screen2{
    transform: translateY(-40px);
    opacity: .4;
}
.box-iphone:hover .screen1{
    transform: translateY(0px);
    opacity: .2;
}
/*======cloud=====*/
.container{
    background: url('../img/gora-rorajma-1.jpg') no-repeat;
    background-size: cover;
    background-position: right bottom, left top;
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
    
}
.container img{
    width: 100%;
}
.container .cloud1{
    position: absolute;
    top: 0;
    left: 0;
    animation: cloudeFirst 30s linear infinite;
}
.container .cloud2{
    position: absolute;
    top: -50px;
    animation: cloudeSecond 15s linear infinite;
}
.container .cloud3{
    position: absolute;
    top: 0;
    animation: cloudeThird 55s linear infinite;
}
.container .cloud4{
    position: absolute;
    top: 0;
    animation: cloudeFourth 60s linear infinite;
}

@keyframes cloudeFirst{
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(100%)
    }
}
@keyframes cloudeSecond{
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(100%)
    }
}
@keyframes cloudeThird{
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(100%)
    }
}
@keyframes cloudeFourth{
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(100%)
    }
}